.task_card{
    width:100%;
    min-height:50px;
    border:1px solid #dcdcdc;
    border-radius:8px;
    padding:0.5rem 1rem;
    margin:1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task_card:hover{
    background-color:rgba(0, 0, 0, 0.3) ;
    cursor: grab;
}


.task_text{
    font-size:18px;
    font-weight:600;
    margin-bottom:1rem;
}

